/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/****************************BES**************************************/
#sec1{clear:both}
#sec1 .slick-slide img{width: 100%;min-width: 1024px;}
#sec1 .slick-arrow{position:absolute;top:50%;z-index:9999;border:0;
        text-indent: -999999999px;}
#sec1 .slick-prev{left:100px;width: 90px;height: 90px;
      background:url(../images/2.png) no-repeat;}
#sec1 .slick-next{right:100px;width:90px;height: 90px;
      background:url(../images/1.png) no-repeat;}
#sec1 .slick-dots {position:absolute;right:0;bottom:100px;
    width: 100%;text-align: center;}
#sec1 .slick-dots li{display: inline-block;}
#sec1 .slick-dots li button{text-indent:-99999999px;
    border:0;margin-left: 5px;background-color: #ededed;
    width: 90px;height: 3px;
    color: #0981CD;vertical-align: middle; display: inline-block;position: relative;}
#sec1 .slick-dots li.slick-active button{background-color: #0981CD;}

#sec5 .regular{width: 1200px;margin-top:100px;margin-bottom:110px ;}

#sec5 .slick-slide img { margin-top: 2px;
    display: block;float: left;
}
#sec5 .slick-arrow{position:absolute;top:-50px;z-index:99999;border:0;
       text-indent: -999999999px;}
#sec5 .slick-prev{left:0px;width: 20px;height: 20px;
      background:url(../images/811.png) no-repeat;}
#sec5 .slick-next{left: 50px;width:20px;height: 20px;
      background:url(../images/822.png) no-repeat;}


