h2{font-size: 1.875rem; display:inline-block;}
h3{font-size: 0.937rem;display:inline-block;}

#top_popup {}
#top_popup img{width:100%; min-width: 1024px;}
#top_popup .close{position: absolute;right:100px;top:10px;text-indent: -9999999px;
                background:none;border:0;width: 50px; height: 50px;}
#top_popup .close:before{content:'';display:block;width:2px; height:40px;background-color:#fff;
                   transform:rotate(45deg);position:absolute;top:0px;}
#top_popup .close:after{content:'';display:block;width:2px; height:40px;background-color:#fff;
    transform:rotate(-45deg);position:absolute;top:0px;}


#quickmenu{width: 50px; z-index: 1;
                position: fixed;
                top:500px; right: 10px;}


#quickmenu li {padding-bottom:10px;}
#quickmenu p{background-color: #F3AB25;color:#fff;border-radius: 5px;padding:5px;}


/*********************section****************************/
#sec2 .inner{position: relative;color:#fff ;}

#sec2 .notice,#sec2 .purp {width: 500px;height: 50px;
       background-color: rgba(0,0,0,0.5);
       position: absolute; bottom:5px;line-height: 50px;}
#sec2 .notice{left:0;}
#sec2 .purp{right:0;}
#sec2 .font{padding:0 15px;float: left;overflow: hidden;position: relative;}
#sec2 .notice_list li{}


#sec3{padding-top: 74px;margin-bottom:110px ;}
#sec3 h2{margin-right: 45px;}
#sec3 .sec3_head{margin-top:35px;}
#sec3 .btn{padding:5px;border:0;}
#sec3 .sec3_h{margin-bottom:30px;font-size: 1.2rem;}
#sec3 .clinic_txt{margin-bottom:40px;margin-top:30px ;}
#sec3 .clinic_img{margin-bottom:30px;}
#sec3 .inner > div {margin-right: 35px;  width:calc((100% - 70px) / 3) ;
                    height: 400px; box-sizing: border-box;
                    overflow: hidden; position: relative;
                   border:1px solid #e6e6e6; float: left;
                   text-align: center;padding-top: 70px;}
#sec3 .inner > div:last-child{margin-right: 0;}
#sec3:after{content:''; display: block; clear: both;}

#sec3 .inner > div a{display: block;  height: 400px; box-sizing: border-box;}
#sec3 .inner > div a:before{content: '';display: block;
              width:0 ;height: 0;
               position: absolute;left: 0;top: 0;
               border:4px solid transparent}

 #sec3 .inner > div a:after{content: '';display: block;
             width:0 ;height: 0;
             position: absolute; bottom: 0;right: 0;
             border:4px solid transparent}              

#sec3 .inner > div:hover a:before{width:calc(100% - 8px) ;height: calc(100% - 8px);
                border-top-color: #F3AB25; border-right-color: #F3AB25;
                transition: width 0.4s, height 0.4s 0.4s;} 


 
 #sec3 .inner > div:hover a:after{width:calc(100% - 8px) ;height: calc(100% - 8px);
             border-bottom-color: #F3AB25; border-left-color:#F3AB25;
             transition: width 0.4s, height 0.4s 0.4s;} 

/* #sec3 img{width: 400px;position: relative;left: calc(50% - 200px)} */


#sec3 .clinic_txt{display: none;}
#sec3 .inner >  div button{transition: 0.5s;}
#sec3 .inner >  div:hover button{background-color: #F3AB25;}
#sec3 .inner >  div:hover .clinic_txt{display: block;}
#sec3 .inner >  div:hover .clinic_img{display: none;}

#sec4{margin-bottom:110px ;}
#sec4.inner{position: relative;}

#sec4 .sec4_hed{margin-bottom: 35px;margin-right: 45px;}
#sec4 .left{float: left; width: 32.5%;overflow: hidden;}
#sec4 .right{float: right; width: calc(66.5% - 35px);overflow: hidden;}



#sec5 h2,#sec5 h3{display: block;}
#sec5 .sec5_hed{margin-top:30px;margin-bottom: 20px;}
#sec5 .sec5_title{width: 400px; float: left; margin-right: 35px;}
#sec5 .sec5_title img{width: 100%;}
#sec5 .sec5_cont{width: calc(100% - 435px); float: left;margin-bottom:0 ;}
#sec5 .sec5_cont a{display: inline-block;}

#sec6 {position: relative; margin-bottom: 110px;}
#sec6 .big{/*width: 100%;min-width: 1024px;*/position: relative;left: calc(50% - 960px);}
#sec6 .bt{width: 152px; height: 152px;}
#sec6 h2{margin-left: 320px;margin-bottom:30px ;}
#sec6 .bt{position:absolute;top:270px; right: calc(50% - 76px);}

#sec7 .sec7_hed{margin-top:30px;margin-bottom: 20px;margin-right: 45px;}
#sec7 {position: relative; margin-bottom: 110px;}
#sec7 .inner > div {margin-right: 5px;  width:calc((100% - 10px) / 3) ;
    height: 425px; box-sizing: border-box;
    overflow: hidden; position: relative;
    border:1px solid #e6e6e6; float: left;
   padding-top: 0px;}
#sec7 .inner > div:last-child{margin-right: 0;}
#sec7:after{content:''; display: block; clear: both;}
#sec7 .sec7_h{display: inline-block; padding:10px; background-color: #F3AB25;color:#fff;
              margin-top:30px;margin-left: 30px;margin-right: 30px;}
#sec7 .sec7_h1{display: inline-block;  padding-top:30px;}
#sec7 .sec7_txt{display: inline-block;  margin-top:30px;margin-left: 30px;}
#sec7 .more{float: right; margin-top:10px;margin-right: 30px;border:0; background-color: #fff;}
#sec7 .sec7_h1{font-size: 1.2rem;}

#sec7 .clinic_img{width: 423px; height: 225px; float: left; overflow: hidden;}
#sec7 .clinic_img img{width: 100%; transition: 0.5s;}
#sec7 .clinic_img:hover img{transform: scale(1.5);}


#footer .box{background-color:#F3AB25 ;width: 100%;height: 40px;}
#footer .mmm {float: left;margin-top: 10px;margin-left: 10px;}
#footer .mmm a{margin-right: 10px;color: #fff;}
#footer .icon {float: right;margin-right: 30px;margin-top: 7px;}
#footer .foot1{margin-top:20px;margin-bottom:20px;}

#footer .last p{padding-bottom: 10px;font-size: 0.8rem;}
